<section class="max-w-4xl p-6 mx-auto bg-gray-800 rounded-md shadow-md text-white dark:bg-gray-800">
  <h2 class="text-lg font-semibold text-white-700 capitalize dark:text-white">Ajouter Competition</h2>

  <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
    <div>
      <label class="text-white-700 dark:text-gray-200" for="code">Code:</label>
      <input type="text" id="code" formControlName="code" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="date">Date:</label>
      <input type="date" id="date" formControlName="date" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="startTime">Heure de début(YYYY-MM-JJTHH:MM:SS):</label>
      <input type="text" id="startTime" formControlName="startTime" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="endTime">Heure de fin (YYYY-MM-JJTHH:MM:SS):</label>
      <input type="text" id="endTime" formControlName="endTime" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="numberOfParticipants">Nombre de participants:</label>
      <input type="number" id="numberOfParticipants" formControlName="numberOfParticipants" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="location">Lieu:</label>
      <input type="text" id="location" formControlName="location" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="text-white-700 dark:text-gray-200" for="amount">Montant:</label>
      <input type="number" id="amount" formControlName="amount" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
    </div>

    <div class="col-span-2 flex justify-end mt-6">
      <button type="submit" class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Ajouter Compétition</button>
    </div>
  </form>
</section>
